body {
    display:flex;
    flex-flow:column;
    box-sizing: content-box;
    justify-content:center;
    align-items:center;
    margin:0;
    padding:0;
    background: black url("../assets/img/universo.jpg") no-repeat center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
footer{
    margin:0;
    width:100vw;
}
#backicon{
    position: fixed;
    right: 0;
    top: 0;
    margin: 50px 160px 0 0;
}
#homeicon{
    position: fixed;
    right: 0;
    top: 0;
    margin: 50px 60px 0 0;
}
.trilhatop{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 50px;
}
.trilhainfo{
    background-color: rgba(72, 136, 255, 0.192);
    width: 95vw;
    height: 90vh;
    padding: 20px;
    border: 3px solid rgba(81, 197, 218, 0.555);
    border-radius: 50px;
}
.trilhatop div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.trilhatitulo h3{
    font-size: 50px;
    color: white;
}
.trilhasubtitulo{
    height: 170px;
    justify-content: flex-end!important;
    color: white;
}
.trilhasubtitulo p{
    font-size: 30px;
}
.trilhavideo{
    height: 500px;
    width: 900px;
    background-color: rgba(108, 160, 255, 0.384);
    border: 3px solid rgba(81, 197, 218, 0.555);
    border-radius: 10px;
}
.trilhabotao{
    height: 130px;
    background-color: rgba(123, 202, 255, 0.555);
    border: 2px solid rgb(81, 197, 218, 0.555);
    border-radius: 30px;
    margin-top: 20px;
    padding: 5px;
}
.trilhabotao button{
    font-size: 20px;
    color: white;
    text-decoration: none!important;
    background: none;
    outline: none;
    border: none;
}
.trilhabotao button:hover{
    color: rgb(213, 235, 255);
}
.foguetediv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    margin-top: 10px;
}
#foguete{
    position: fixed;
    width: 100px;
    height: auto;
    transform: rotate(-50deg);
    display: none;
    margin-top: 500px;
}
.controller{
    position: fixed;
    width: 100px;
    right: 0;
    height: auto;
    display: flex;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
}
#buttonup{
    margin: 850px 50px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
#buttonup img{
    height: 35px;
    width: auto;
}
#buttondown{
    margin: 970px 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
#buttondown img{
    transform: rotate(180deg);
    height: 35px;
    width: auto;
}
#trilha {
    width: 100vw;
    height: auto;
    display: none;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.trilhaheader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}
.nomepilar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    margin: 0 0 0 70px;
}
.nomepilar h1{ 
    font-size: 15px;
    color: #fff;
}
.iconeshome{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin: 0 70px 0 0;
}
.iconeshome a{
    margin: 0 0 0 20px;
}
.iconesp1{
    display: flex;
    width: 70vw;
    height: 800px;
    justify-content: flex-start;
    align-items: center;
}
.textp1{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0;
    background-color: rgba(72, 136, 255, 0.192);
    border: 2px solid rgb(81, 197, 218, 0.555);
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
.textp1 h2{
    font-size:25px;
    color: white;
}
#ferramentasp1{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: rgba(123, 202, 255, 0.555);
    border-radius: 10px;
}
#ferramentasp1 li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 15px;
    height: 70px;
    padding-left: 10px;
    border-radius: 10px;
}
#ferramentasp1 li:hover{
    background-color: rgba(71, 181, 255, 0.712);
    transition: background 300ms ease-in-out;
}
#ferramentasp1 a{
    text-decoration: none;
    color: white;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 0;
    border-bottom: 2px solid white;
    border-left: 0;
    border-right: 0;
}
#ferramentasp1 a:hover{
    color: rgb(213, 235, 255);
}
#mvppasso{
    border: 0!important;
}
.iconesp2{
    display: flex;
    width: 70vw;
    height: 800px;
    justify-content: flex-end;
    align-items: center;
}
.textp2{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 20px;
    background-color: rgba(72, 136, 255, 0.192);
    border: 2px solid rgb(81, 197, 218, 0.555);
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
.textp2 h2 {
    font-size:25px;
    color: white;
}
#ferramentasp2{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: rgba(123, 202, 255, 0.555);
    border-radius: 10px;
}
#ferramentasp2 li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 15px;
    height: 70px;
    padding-left: 10px;
    border-radius: 10px;
}
#ferramentasp2 li:hover{
    background-color: rgba(71, 181, 255, 0.712);
    transition: background 300ms ease-in-out;
}
#ferramentasp2 a{
    text-decoration: none;
    color: white;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 0;
    border-bottom: 2px solid white;
    border-left: 0;
    border-right: 0;
}
#ferramentasp2 a:hover{
    color: rgb(213, 235, 255);
}
#plilpasso{
    border: 0!important;
}
.iconesp3{
    display: flex;
    width: 70vw;
    height: 800px;
    justify-content: flex-start;
    align-items: center;
}
.textp3{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0;
    background-color: rgba(72, 136, 255, 0.192);
    border: 2px solid rgb(81, 197, 218, 0.555);
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
.textp3 h2{
    font-size:25px;
    color: white;
}
#ferramentasp3{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: rgba(123, 202, 255, 0.555);
    border-radius: 10px;
}
#ferramentasp3 li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 15px;
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
}
#ferramentasp3 li:hover{
    background-color: rgba(71, 181, 255, 0.712);
    transition: background 300ms ease-in-out;
}
#ferramentasp3 a{
    text-decoration: none;
    color: white;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#ferramentasp3 a:hover{
    color: rgb(213, 235, 255);
}
.iconesp4{
    display: flex;
    width: 80vw;
    height: 800px;
    justify-content: flex-end;
    align-items: center;
}
.textp4{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 20px;
    background-color: rgba(72, 136, 255, 0.192);
    border: 2px solid rgb(81, 197, 218, 0.555);
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
.textp4 h2 {
    font-size:25px;
    color: white;
}
#ferramentasp4{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: rgba(123, 202, 255, 0.555);
    border-radius: 10px;
}
#ferramentasp4 li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 15px;
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
}
#ferramentasp4 li:hover{
    background-color: rgba(71, 181, 255, 0.712);
    transition: background 300ms ease-in-out;
}
#ferramentasp4 a{
    text-decoration: none;
    color: white;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 0;
    border-bottom: 2px solid white;
    border-left: 0;
    border-right: 0;
}
#ferramentasp4 a:hover{
    color: rgb(213, 235, 255);
}
#wpapasso{
    border: 0!important;
}
.iconesp5{
    display: flex;
    width: 70vw;
    height: 800px;
    justify-content: flex-start;
    align-items: center;
}
.textp5{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0;
    background-color: rgba(72, 136, 255, 0.192);
    border: 2px solid rgb(81, 197, 218, 0.555);
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
.textp5 h2{
    font-size:25px;
    color: white;
}
#ferramentasp5{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: rgba(123, 202, 255, 0.555);
    border-radius: 10px;
}
#ferramentasp5 li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 15px;
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
}
#ferramentasp5 li:hover{
    background-color: rgba(71, 181, 255, 0.712);
    transition: background 300ms ease-in-out;
}
#ferramentasp5 a{
    text-decoration: none;
    color: white;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#ferramentasp5 a:hover{
    color: rgb(213, 235, 255);
}
.iconesp6{
    display: flex;
    width: 70vw;
    height: 800px;
    justify-content: flex-end;
    align-items: center;
}
.textp6{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 20px;
    background-color: rgba(72, 136, 255, 0.192);
    border: 2px solid rgb(81, 197, 218, 0.555);
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
.textp6 h2 {
    font-size:25px;
    color: white;
}
#ferramentasp6{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: rgba(123, 202, 255, 0.555);
    border-radius: 10px;
}
#ferramentasp6 li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 15px;
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
}
#ferramentasp6 li:hover{
    background-color: rgba(71, 181, 255, 0.712);
    transition: background 300ms ease-in-out;
}
#ferramentasp6 a{
    text-decoration: none;
    color: white;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#ferramentasp6 a:hover{
    color: rgb(213, 235, 255);
}
.iconesp7{
    display: flex;
    width: 70vw;
    height: 800px;
    justify-content: flex-start;
    align-items: center;
}
.textp7{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0;
    background-color: rgba(72, 136, 255, 0.192);
    border: 2px solid rgb(81, 197, 218, 0.555);
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
.textp7 h2{
    font-size:25px;
    color: white;
}
#ferramentasp7{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: rgba(123, 202, 255, 0.555);
    border-radius: 10px;
}
#ferramentasp7 li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 15px;
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
}
#ferramentasp7 li:hover{
    background-color: rgba(71, 181, 255, 0.712);
    transition: background 300ms ease-in-out;
}
#ferramentasp7 a{
    text-decoration: none;
    color: white;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
#ferramentasp7 a:hover{
    color: rgb(213, 235, 255);
}
