@import './var_index';
@import './fun_index';

*{
    color: $secondaryColor;
}
body{
    @include flexAdj(flex, flex-start, flex-start, row);
    @include bodyFormat();

    b{
        color: $mainColor;
    }
}
.page_top{
    @include flexCenter();
    @include objSize(100vh, 100vw);
}
.user_info{
    @include flexAdj(flex, flex-start, center, column);
    @include objSize(320px, 400px);
    border: 1px solid $mainColor;
    background-color: $backgroundColor;
    border-radius: 10px;
}
.user_info_title{
    @include flexAdj(flex, center, center, column);
    @include borderAdj(0, 0, 1px, 0);
    @include objSize(15%, 100%);
    border-color: $mainColor;
    h2{
        margin: 0;
    }
}
.user_info_form{
    @include flexAdj(flex, flex-start, center, column);
    @include objSize(100%, 100%);
}
#user_form{
    @include flexAdj(flex, flex-start, flex-end, column);
    margin: 20px 0 0 0;
}
.form_data{
    @include flexCenter();
    margin: 10px 0 10px 0;

    label{
        margin: 0 20px 0 0;
        color: $mainColor;
        font-size: 20px;
    }
    input{
        @include borderAdj(0, 1px, 1px, 1px);
        @include objSize(20px, 200px);
        background-color: transparent;
        border-color: $mainColor;
        border-radius: 5px;
        outline: none;
        font-size: 15px;
    }
}
.form_button_div{
    @include flexCenter();
    width: 100%;
}
#form_button{
    @include objSize(40px, 100px);
    background-color: transparent;
    border: 2px solid $mainColor;
    color: $mainColor;
    border-radius: 10px;
    -webkit-transition: $transition;
    cursor: pointer;
    margin: 20px 0 0 0;

    &:hover{
        background-color: $backgroundColor;
        -webkit-transition: $transition;
        }
}
